.navigation-container {
    display: none;
}

.menu-container {
    display: none;
}

@media (min-width: 550px) {
    .navigation-container {
        display: flex;
        flex-direction: row;
        gap: 1px;
        align-items: center;
    }
}

@media (max-width: 550px) {
    .menu-container {
        display: flex;
    }
}

